@charset "UTF-8";
/*scss的高级语法*/
/*1.if  else  条件语句*/
/*lightness 获取颜色的亮度*/
p {
  /*color:lightness(#000);*/
  border: 1px solid;
  border: 2px dotted;
  color: #f00;
  background-color: #000;
  width: 200px;
  /*scss里面 三目运算符的写法*/ }

/*2.循环语句  */
/*ul中有10个li,边框的宽度递增*/
/*for*/
li:nth-of-type(1) {
  border-bottom: 1px dotted blue; }

li:nth-of-type(2) {
  border-bottom: 2px dotted blue; }

li:nth-of-type(3) {
  border-bottom: 3px dotted blue; }

li:nth-of-type(4) {
  border-bottom: 4px dotted blue; }

li:nth-of-type(5) {
  border-bottom: 5px dotted blue; }

li:nth-of-type(6) {
  border-bottom: 6px dotted blue; }

li:nth-of-type(7) {
  border-bottom: 7px dotted blue; }

li:nth-of-type(8) {
  border-bottom: 8px dotted blue; }

li:nth-of-type(9) {
  border-bottom: 9px dotted blue; }

li:nth-of-type(10) {
  border-bottom: 10px dotted blue; }

/*while*/
li:nth-of-type(6) {
  border-left: 6px solid green; }

li:nth-of-type(4) {
  border-left: 4px solid green; }

li:nth-of-type(2) {
  border-left: 2px solid green; }

/*each*/
/*显示图片*/
.img1 {
  background-image: url("img/1.jpg");
  width: 470px;
  height: 150px; }

.img2 {
  background-image: url("img/2.jpg");
  width: 470px;
  height: 150px; }

.img3 {
  background-image: url("img/3.jpg");
  width: 470px;
  height: 150px; }

.img4 {
  background-image: url("img/4.jpg");
  width: 470px;
  height: 150px; }

.img5 {
  background-image: url("img/5.jpg");
  width: 470px;
  height: 150px; }

/*3.自定义函数*/
#side {
  width: 300px;
  background: seagreen; }
